<ion-header  class="background">
  <ion-toolbar>
    <ion-title>
      <h3>E-commerce</h3>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <h2 id="ion-wel">Welcome</h2>

<div id="center">
  
  <ion-item id="ion-np">
      <ion-icon name="person-outline"></ion-icon>
      <ion-input type="text" [(ngModel)]="name" placeholder="Enter your name">&nbsp;&nbsp;</ion-input>
  </ion-item>

  <ion-item >
      <ion-icon name="lock-closed-outline"></ion-icon>>
      <ion-input type="password" [(ngModel)]="password" placeholder="Enter your password" [type]="passwordType" 
      >&nbsp;&nbsp;</ion-input>
      <ion-icon name="eye" [color]="passwordShown == true ? 'light' : 'gray'" item-end (click)="togglepassword()"> </ion-icon>
  </ion-item>

</div>

  <ion-button color="light" (click)="login()" class="ion-login">Login</ion-button>
  <!-- <ion-lable>{{name}}</ion-lable> -->

  
</ion-content>
