ion-title.md.title-default.hydrated {
  background-color: brown;
  color: white;
}

#ion-wel {
  padding-top: 6%;
  font-family: 'Fondamento', cursive;
  text-align: center;
}

#ion-np {
  margin-bottom: 5%;
}

.ion-login {
  margin-top: 3%;
  margin-left: 47%;
}

#center {
  margin-left: 30%;
  margin-right: 30%;
}